html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: "proxima-nova", "Helvetica Neue", sans-serif; }

.drop-element.drop-theme-arrows-bounce.drop-out-of-bounds {
  display: none; }

.drop-element .drop-target {
  display: block;
  padding: 20px;
  background: #cccccc; }

.button {
  display: inline-block;
  border: 2px solid #333333;
  color: #333333;
  padding: 1em 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
  width: 140px;
  font-size: 0.8em;
  line-height: 1.3em; }

.button.dark {
  background: #333333;
  color: white; }

.hero-wrap {
  height: 100%;
  overflow: hidden; }

.drop-hero.drop-element.drop-theme-arrows-bounce-dark .drop-content {
  padding: 40px; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark h1, .drop-hero.drop-element.drop-theme-arrows-bounce-dark h2, .drop-hero.drop-element.drop-theme-arrows-bounce-dark p {
  text-align: center;
  margin: 0;
  font-weight: 100; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark h1 {
  margin-bottom: 40px; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark h2 {
  margin-bottom: 45px; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark h1 {
  font-size: 45px;
  line-height: 1; }
.drop-hero.drop-element.drop-theme-arrows-bounce-dark .button {
  font-weight: 100;
  color: white;
  border-color: white;
  width: 200px;
  max-width: 100%; }
@media (max-width: 768px) {
  .drop-hero.drop-element.drop-theme-arrows-bounce-dark .drop-content {
    padding: 20px; }
  .drop-hero.drop-element.drop-theme-arrows-bounce-dark h1 {
    font-size: 30px;
    margin-bottom: 20px; }
  .drop-hero.drop-element.drop-theme-arrows-bounce-dark h2 {
    font-size: 18px;
    margin-bottom: 25px; } }

table.showcase {
  height: 100%;
  width: 100%;
  position: relative; }
  table.showcase:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    height: 0;
    width: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent;
    border-top-color: rgba(0, 0, 0, 0.2); }
  table.showcase.no-next-arrow:after {
    display: none; }
  table.showcase .showcase-inner {
    margin: 40px auto 60px;
    padding: 10px; }
    table.showcase .showcase-inner h1 {
      font-size: 50px;
      text-align: center;
      font-weight: 300; }
      @media (max-width: 567px) {
        table.showcase .showcase-inner h1 {
          font-size: 40px; } }
    table.showcase .showcase-inner h2 {
      font-size: 24px;
      text-align: center;
      font-weight: 300;
      margin: 1em 0 1em; }
      @media (max-width: 567px) {
        table.showcase .showcase-inner h2 {
          font-size: 14px; } }
    table.showcase .showcase-inner p {
      text-align: center; }
  table.showcase.hero {
    text-align: center; }
    table.showcase.hero .drop-target {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      margin: 0 auto 20px;
      width: 300px;
      height: 1px;
      margin-bottom: 400px; }
  table.showcase.examples {
    background: #e0e0e0; }
  table.showcase.about {
    background: #fff1dd; }
    table.showcase.about a {
      color: #c96c24; }
    table.showcase.about p {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: left;
      width: 500px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      table.showcase.about p > code {
        background: rgba(0, 0, 0, 0.05); }
    table.showcase.about pre {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: left;
      width: 500px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
  table.showcase.themes {
    background: #eeeeee; }
    table.showcase.themes.select-theme-dark {
      background: #323232; }
      table.showcase.themes.select-theme-dark h1, table.showcase.themes.select-theme-dark h2 {
        color: #e6e6e6; }
    table.showcase.themes.select-theme-chosen {
      background: white; }
    table.showcase.themes .themes-list {
      margin: 4em auto;
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 18px; }
      table.showcase.themes .themes-list li {
        padding: 0;
        margin: 0;
        display: inline; }
        table.showcase.themes .themes-list li a {
          cursor: pointer;
          opacity: 0.3;
          padding: 0.5em;
          display: inline-block; }
          table.showcase.themes .themes-list li a.selected {
            opacity: 1; }

.examples-wrap {
  padding: 60px 0; }
  .examples-wrap h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 100px; }
  .examples-wrap h1, .examples-wrap h2, .examples-wrap h3 {
    font-weight: normal; }
  .examples-wrap h3 {
    margin-top: 0;
    line-height: 1;
    margin-bottom: 30px; }
  .examples-wrap .examples {
    width: 800px;
    max-width: 100%;
    margin: 0 auto; }
    .examples-wrap .examples .example {
      margin-bottom: 100px;
      text-align: center; }
      .examples-wrap .examples .example .example-inner {
        margin-bottom: 20px; }
        .examples-wrap .examples .example .example-inner .drop-content {
          display: none; }
        .examples-wrap .examples .example .example-inner .drop-target {
          cursor: pointer; }
        .examples-wrap .examples .example .example-inner .drop-target-example-drop-theme-arrows-bounce-dark {
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          zoom: 1;
          *display: inline;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          border-radius: 4px;
          padding: 0 20px;
          height: 60px;
          line-height: 60px;
          background: black;
          color: white;
          font-size: 20px; }
      .examples-wrap .examples .example .example-credit {
        opacity: 0.5; }
        .examples-wrap .examples .example .example-credit a {
          color: inherit; }
